body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.white {
  color: #ffffff;
}
.footer {
  background-color: #2f303a;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9375em;
  letter-spacing: 0.03em;
}

address {
  font-style: normal;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
}
.fontcolor-foot {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9375em;
  letter-spacing: 0.03em;
}

.fonthead {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.02em;
}
.fontweb {
  font-family: "Raleway", sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9375em;
}
.fontcolor {
  color: #2196f3;
}
.fontcolor:visited {
  color: #2196f3;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 2px;
}

.contact {
  color: #757575;
  font-style: normal;
}

a:visited {
  color: #212121;
}
.fontcolor:visited {
  color: #2196f3;
}
ul {
  list-style: none;
}
.button:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.button:focus {
  background-color: #2196f3;
  cursor: pointer;
}
.button {
  background: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  text-align: center;
  letter-spacing: 0.03em;
}
.box-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25em;
}
.box-category {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875em;
}
